#title {
    position: absolute;
    width: 517px;
    height: 74px;
    left: 306px;
    top: 63px;
    color: white;
}

body{
    background-color: black;
}

#label {
    position: absolute;
    width: 111px;
    height: 15px;
    left: 307px;
    top: 165px;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

#search {
    position: absolute;
    width: 171px;
    height: 48px;
    left: 306px;
    top: 185px;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 10px;
}

#button {
    position: absolute;
    width: 111px;
    height: 25px;
    left: 521px;
    top: 196px;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    
    color: #373737;
}

#container {
    position: absolute;
    width: 900px;
    height: 583px;
    left: 306px;
    top: 290px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
}